.main {
    width: 1120px;
    margin: auto;
}

.main_watch {
    text-align: center;
    margin-top: 20px;
}

.arzon_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.arz_card {
    width: 200px;
    margin-top: 50px;
}

.arzoni_biz {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 23.46px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.arz_circol {
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background-color: #2DA55F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.dostavka_text {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
    text-align: center;
    color: #065374;
    margin-top: 23px;
}

.dostavka_paragraf {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    color: #333333;
    margin-top: 5px;
}

.songi_cards {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}